/* Стилизация кнопки */
.button {
  height: 48px;
  border-radius: 8px;
  padding: 0 24px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button_primary {
  color: var(--white);
  background-color: var(--primary);
  border: none;
}

.button_primary:hover {
  background-color:#2342C0;
}

.button_primary:disabled {
  background-color: var(--primary);
}

.button_secondary {
  color: var(--white);
  background-color: var(--secondary);
  border: none;
}

.button_secondary:hover {
    background-color:#5028C6;
  }

.button_secondary:disabled {
    background-color: var(--secondary);
  }

.button_alternate {
  border: 1px solid #ACB5BD;
  background-color: var(--white);
  color: var(--grey-4);
}

.button_alternate:hover {
    border-color: var(--black);
  }

.button_alternate:disabled {
    border-color: #ACB5BD;
  }
