.histogram {
  width: 100%;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 16px 24px 24px;
  box-sizing: border-box;
}

.histogram__top {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
}

.histogram__totaltext {
  color: var(--black);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
}

.histogram__filter {
  display: inline-block;
  color: var(--blue-2);
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  align-self: flex-end;
}

.histogram__totalcount {
  display: inline-block;
  color: var(--black);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.histogram__rectangles {
  display: flex;
  align-items: flex-end;
  height: 50px;
  gap: 2px;
}

.histogram__rectangle {
  background-color: var(--blue-2);
  flex-grow: 1;
}

.histogram__rectangle_10 {
  height: 10%;
}

.histogram__rectangle_30 {
  height: 30%;
}

.histogram__rectangle_50 {
  height: 50%;
}

.histogram__rectangle_70 {
  height: 70%;
}

.histogram__rectangle_100 {
  height: 100%;
}